<footer>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    © 2019 by VAC of Harrisburg, Enola PA
                </div>
                <div class="col-md" align="right">
                    333 South Enola Drive, Enola PA, 17025
                    <br>
                    (717) 564-4998
                    <br>
                    <a href="mailto:vachbgwebmaster@gmail.com">vachbgwebmaster@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>