<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include navbar.html %}

    <div class="section">
        <div class="container">
            <div class="row font header">
                <div class="col-md-4 photo">
                    <img src="/img/church.png" width="210" />
                </div>
                <div class="col-md-8 align-self-end">
                    Vietnamese Alliance Church of Harrisburg
                    <br>
                    Hội Thánh Tin Lành Việt Nam Harrisburg
                </div>
            </div>
        </div>
    </div>

    {{ content }}

    {% include footer.html %}
</body>
</html>